* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

.content-body {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-text {
  height: 40px;
  width: 250px;
  border-radius: 20px;
  outline: none;
  text-align: center;
  border: 1px solid rgb(136, 136, 136);
  margin-top: 0px;
}

tbody th,
tbody td {
  padding: 0.5rem 0.625rem 0.625rem !important;
}

.content-app {
  width: 100%;
  padding: 2rem;
}
